.Space {
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  width: 75px;
  height: 75px;
  font-size: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) and (min-height: 350px) {
  .Space {
    width: 100px;
    height: 100px;
    font-size: 75px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (min-height: 600px) {
  .Space {
    width: 150px;
    height: 150px;
    font-size: 120px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (min-height: 768px) {
  .Space {
    width: 200px;
    height: 200px;
    font-size: 150px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)and (min-height: 992px) {
  .Space {
    width: 300px;
    height: 300px;
    font-size: 240px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (min-height: 1200px) {
  .Space {
    width: 350px;
    height: 350px;
    font-size: 270px;
  }
}