.Space {
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  width: 75px;
  height: 75px;
  padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) and (min-height: 350px) {
  .Space {
    width: 100px;
    height: 100px;
    padding: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (min-height: 600px) {
  .Space {
    width: 150px;
    height: 150px;
    padding: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (min-height: 768px) {
  .Space {
    width: 200px;
    height: 200px;
    padding: 25px;
  }
}