.Space {
  text-align: center;
  vertical-align: middle;
  color: #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-top: none;
  border-left: none;
}

.Space path {
  fill: #333;
}

.Space .Mark {
  animation: grow 0.25s ease-in;
}

@keyframes grow {
  0% {
    transform: scale(0.00);
  }

  75% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.00);
  }
}

@media (orientation: landscape) {
  .Space {
    width: 25vh;
    height: 25vh;
    padding: 3vh;
    border-width: 2vh;
  }
}

@media (orientation: portrait) {
  .Space {
    width: 25vw;
    height: 25vw;
    padding: 3vw;
    border-width: 2vw;
  }
}